@model BookCatalog.Web.Models.BookDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-primary">Book Details</h1>

<div class="card shadow-sm mt-4">
    <div class="card-body">
        <h4 class="text-secondary">Details of the Book</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3 fw-bold">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-3 fw-bold">
                @Html.DisplayNameFor(model => model.Year)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Year)
            </dd>
            <dt class="col-sm-3 fw-bold">
                @Html.DisplayNameFor(model => model.Rating)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Rating)
            </dd>
            <dt class="col-sm-3 fw-bold">
                @Html.DisplayNameFor(model => model.GenreName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.GenreName)
            </dd>
        </dl>
        <div class="d-flex justify-content-between mt-4">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
